# This is a .env file example.
# Please fill in the empty strings or replace with your own proper values.
# And make a copy of this file as .env

# Deepl key
# For more information, please visit: https://www.deepl.com/pro#developer
DEEPL_API_KEY = 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx:xx'

# Tldr root directory.
# Please make a clone of https://github.com/tldr-pages/tldr
# E.g.: TLDR_ROOT = '~/git/tldr'
TLDR_ROOT = ''

# Language code translate to.
# E.g.: TLDR_LANG = 'hu'
TLDR_LANG = ''